
<div class="container">
  <h1><%= @brand %></h1>
  <ul>
    <% @tweets.each do |tweet| %>
      <li>
        <p><%= tweet.message %>
          <%= tweet.created_at.strftime("%a %d %b at %k:%M")%>
          <%= time_ago_in_words(tweet.created_at)%>
        </p>
      </li>
    <% end %>
  </ul>
</div>
